/* Main */

.news-block {
    margin-top: 100px;
}

.news {
    width: 1000px;
    margin: 30px auto;
    padding: 35px;
    background: linear-gradient(45deg, #a2b9cf, #c2ccd1, #d5d5e7);
    border-radius: 25px;
}

.news-img {
    height: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 25px;
}

.news-title {
    height: 50px;
    font-weight: 900;
    font-size: 40px;
    resize: vertical;
    width: 100%;
}

.news-date {
    margin-bottom: 25px;
}

.news-text {
    margin: 25px 0;
    word-break: break-all;
    resize: vertical;
    width: 100%;
}

/* Media */

@media (max-width: 1600px) {
    .news-title {
        font-size: 28px;
    }
}

@media (max-width: 1350px) {
    .news-title {
        font-size: 20px;
    }

    .news-text, .news-date {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .news {
        width: 90%;
    }
}

@media (max-width: 950px) {
}

@media (max-width: 600px) {
}