{% extends 'header-footer.html' %}

{% block css_link %}
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block header_text %}
    <div class="header-img">
        <div class="header-img-text">
            НМАУ "ФОК "ОКТАН" – центр спорта, оздоровления и закаливания
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="subdivisions-text">
        <div class="subdivisions-text-inner">
            В состав НМАУ "ФОК "ОКТАН" входит 6 структурных подразделений, оснащенных бассейнами, тренажерными залами и другими различными услугами
        </div>
    </div>

    <div class="subdivisions">
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic/logo-oktan.png" alt="" class="subdivision-img">
                <div class="subdivision-title">ФОК «Октан»</div>
            </div>
        </a>
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic/delfin.png" alt="" class="subdivision-img">
                <div class="subdivision-title">Бассейн «Дельфин»</div>
            </div>
        </a>
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic/olimp.png" alt="" class="subdivision-img">
                <div class="subdivision-title">ФСК «Олимп»</div>
            </div>
        </a>
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic/vodolej.png" alt="" class="subdivision-img">
                <div class="subdivision-title">ФОК «Водолей»</div>
            </div>
        </a>
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic/tonus.png" alt="" class="subdivision-img">
                <div class="subdivision-title">ФК «Тонус»</div>
            </div>
        </a>
        <a href="#" class="subdivision">
            <div class="subdivision-inner">
                <img src="../static/images/basic(/zhemchuzhina.jpg" alt="" class="subdivision-img">
                <div class="subdivision-title">ФОЦ «Жемчужина»</div>
            </div>
        </a>
    </div>

    <div class="subdivisions-text">
        <div class="subdivisions-text-inner">
            Пусть ваша работа над собой на пути к самосовершенствованию и оздоровлению станет настоящим отдыхом!
        </div>
    </div>
{% endblock %}

{% block js_link %}
    <script type="text/javascript" src="../static/js/main.js"></script>
{% endblock %}