{% extends "header-footer-admin.html" %}

{% block css_link %}
    <link rel="stylesheet" href="../static/css/services-and-prices-admin.css">
{% endblock %}

{% block header_text %}
    <div class="header-text">
        <div class="header-text-inner">
            Услуги и цены
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tables-text">
        <div class="tables-text-inner">
            Тарифы на услуги по проведению занятий, оказываемые НМАУ «ФОК «ОКТАН» на платной основе для физических и юридических лиц на 2025 год.
        </div>
    </div>

    <div class="tables-text">
        <div class="tables-text-inner">
            Для установки заголовков в файле excel используйте лист с названием 'ЗАГОЛОВКИ', и соотнесите название листа excel в первом столбце с его заголовком на сайте во втором столбце, предварительно укажите названия колонок в первой строке<br>Для создания пустых ячеек используйте '---'<br>Для переноса строки используйте '\\'
        </div>
    </div>

    <div class="tables">
        <form action="/services-and-prices-admin" method="post" enctype="multipart/form-data">
            <a href="/download/services-and-prices" class="form-download">Скачать таблицу</a>
            <div class="table-add-file">
                <label for="file" class="table-add-file-text">Загрузить новую таблицу</label>
                <input type="file" name="excel" id="file" class="form-file">
            </div>
            <input type="submit" value="Сохранить" class="form-save">
        </form>
        {% for i in range(tables|length) %}
            <div class="table-title">
                {% for x in tables[i].pop(0).split('\\\\') %}
                    {{ x }}<br>
                {% endfor %}
            </div>
            <table class="table">
                {% for row in tables[i][0] %}
                <tr class="table-row">
                    {% for cell in row %}
                        <td colspan="{{ cell[0] }}" class="table-cell">
                            {% for x in cell[1].split('\\\\') %}
                                {{ x }}<br>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}